html{
	/* bg of page */
	--page_bg: #f5eded;
	/* border of cards and text in central row */
	--cs_color: #3e3636;
	/* default bg of central strip */
	--cs_defaultbg: #62929a;
	/* error color of central strip */
	--cs_error: #d72323;
	/* OK color of central strip */
	--cs_ok: #0b8457;;
	/* Warning color of central strip */
	--cs_warning: #faee1c;
	/* central textarea placeholders text */
	--cs_ta_ph: #6d5c5c;
}
title{
	text-decoration-style: dashed;
}

/*main style*/
body{
	background-color: var(--page_bg);
	height: 100vh;
}
textarea{
	min-height: 50px;
	width: 100%;
	height: 100%;
	resize: none;
	overflow-x: hidden;
	background-color: unset;
}

input{
	border-width: 2px;
	border-radius: 3px;
	border-style: dashed;
	border-color: #000;
}

textarea{
/* border: none; */
scrollbar-color: light;
}

textarea::placeholder{
	color: var(--cs_ta_ph);
}
textarea:focus, input:focus{
	outline-style: none; 
	border-color: #dc3545;
}
.screen{
	/* height: 100vh; */
	margin-bottom: 0;
	background-color: unset;
	position: relative;
	padding: 0;
}
.input-row, .output-row{
	height: calc((100% - 120px)/2);
}
.output-row div{
	height: 100%;
}
.input-row div{
	height: calc(100% - 30px);
} 
.output-row{
	margin-top: 20px;	
}
.input-row{
	/* background-color: #efecec; */
	color: #3e3636;
	padding-bottom: 10px;
	border-radius: 10px;
	/* box-shadow: 6px 6px 12px rgba(0, 0, 0, 1),
				-6px -6px 12px rgba(255, 255, 255, 0.3);	 */
}


/*TOP PART*/
.logo-box{
	margin-top: 10px;
}
.logo{
	width: 60px;
	height: 60px;
}
.logo-text{
	font-weight: bold;
	font-size: 30px;
	vertical-align: middle;
	color: #000;
	text-decoration: underline dashed;
}
.btn{
	height: 60px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 160%;
	padding: 0;
}
.var_box{
	/*margin-left: 20px;*/
/*	background-color: red;*/
	height: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: -20px;
	margin-bottom: -10px;
	/*z-index: -1;*/
}
.var_box div{
	display: inline-block;
	min-width: 50px;
	width: 20%;
	right: 0px;
}
.var_box input{
	width: 100%;
}
.var_box div:not(first-child){
	margin-left: 20px;
	float: right;
}
.var_box span{
	width: 100%;	
	font-weight: bold;
}

/*MIDDLE PART*/
.blackstrip{
	background-color: var(--cs_defaultbg);
	border-radius: 0px;
	padding-top: 0px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	
	box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 1),
							inset -6px -6px 12px rgba(255, 255, 255, 0.3);
}
.blackstrip div, .output div{
	height: 100%;
}
/*headers of textarea*/
.box_header{
	font-size: 20px;
	text-transform: uppercase;
	/*color: #fff;*/
	width: 100%;
	display: block;
	font-weight: bold;
	padding-bottom: 10px;
	margin-top: 10px;
}
#errors{
	color: red;
}

.countRows{
	color: #3e3636;
	font-weight: bold;
}
.card{
	border-radius: 10px;
	border: none;
	/* box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
				-6px -6px 12px rgba(255, 255, 255, 0.3); */
	padding: 5px;
	color: #000;
	border: 2px dashed #000;
}
.input-row .card{
	background-color: unset;
	border-color: #3e3636;	
}

/*LOWER PART*/
.output span{
	color: #000;
}

.input, .output{
	
}

#output_box{
	height: calc(100% - 60px);
}