/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*Choise between ass and srt*/

.choose {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
}

.choose span {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 3rem;
}

/* Hide default HTML checkbox */

.choose-block {
  z-index: 20 !important;
  height: fit-content !important;
  width: 325px;
}

.choiser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(158, 158, 158, 0.6);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: -10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 1),
    -4px -4px 10px rgba(255, 255, 255, 0.2);
}

.choose input {
  opacity: 0;
  width: 0;
  height: 0;
}

.choiser:before {
  /*  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;*/
  /* content: "ururu"; */
}

input:checked + .choiser {
  background-color: #0b8457;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 1),
    -3px -3px 8px rgba(255, 255, 255, 0.2);
}

input:focus + .choiser {
  color: #000;
  box-shadow: 0 0 1px #0b8457;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 1),
    -2px -2px 6px rgba(255, 255, 255, 0.2);
}

input:checked + .choiser:before {
  /*  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);*/
}
